USE [master]
GO
/****** Object:  Database [sv_tnut]    Script Date: 4/24/2025 1:29:32 PM ******/
CREATE DATABASE [sv_tnut]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sv_tnut', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sv_tnut.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sv_tnut_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\sv_tnut_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sv_tnut].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sv_tnut]
GO
/****** Object:  Table [dbo].[SV]    Script Date: 4/24/2025 1:29:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SV](
	[masv] [varchar](13) NOT NULL,
	[hodem] [nvarchar](32) NULL,
	[ten] [nvarchar](22) NULL,
	[ns] [date] NULL,
	[lop] [nvarchar](17) NULL,
	[sdt] [nvarchar](26) NULL,
 CONSTRAINT [PK_SV] PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
